/* roboto-slab-regular - cyrillic-ext_latin */
@font-face {
    font-display: swap; 
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v34-cyrillic-ext_latin-regular.woff2') format('woff2'); 
    }
    /* roboto-slab-600 - cyrillic-ext_latin */
    @font-face {
    font-display: swap; 
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-slab-v34-cyrillic-ext_latin-600.woff2') format('woff2'); 
    }
    /* play-regular - latin */
    /* play-regular - cyrillic-ext_latin */
    @font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic-ext_latin-regular.woff2') format('woff2'); 
    }
    /* play-700 - cyrillic-ext_latin */
    @font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic-ext_latin-700.woff2') format('woff2'); 
    }

:root {
    font-family: roboto-slab-v34-cyrillic-ext_latin-regular;
    font-weight: 400;
    font-size: 18;
    font-style: #000000;
    --brand-color-dark: #011C44;
    --brand-color-light: #2B7FFF;
    --footer-bg-color: #011F4A;
    --copyright-color: #747272;
    --text-footer-color: #ffffff;
}

/* Navigation */
nav a {
    text-decoration: none;
    color: var(--brand-color-dark);

    &:visited, &:active {
        color: var(--brand-color-dark);
    }

    &:hover {
        color:var(--brand-color-dark);
    }
}

.logo {
    color: var(--brand-color-light);
    font: 22px play-v19-cyrillic-ext_latin-700 ;
    font-weight: 700;
    line-height: 21px;

    &:visited, &:active {
        color: var(--brand-color-light);
    }

    &:hover {
        color:var(--brand-color-light);
    }
}

.active {
    color: var(--brand-color-light);
    font: 18px roboto-slab-v34-cyrillic-ext_latin-600;
    font-weight: 400;

    &:visited, &:active {
        color: var(--brand-color-light);
    }

    &:hover {
        color:var(--brand-color-light);
    }
} 

h1 {
    color: var(--brand-color-light);
    font-size: 140px;
    font-family: play-v19-cyrillic-ext_latin-700;
    line-height: 114px;
}

h2 {
    color:var(--brand-color-light);
    font-size: 64px;
    font-family: play-v19-cyrillic-ext_latin-700;
    line-height: 74px;
}

h2 span {
    color:var(--brand-color-dark)
}



.button {
    color: #ffffff;
    background-color: var(--brand-color-light);
    border-radius: 32px;
    padding: 16px 32px;
}

.size12 {
    font-size: 12px;
}

/* First section */

/* Footer */
footer {
    background-color: var(--footer-bg-color);
}

footer a {
    text-decoration: none;
    color: var(--text-footer-color);
    font-size: 16px;

    &:visited, &:active {
        color: var(--text-footer-color);
    }

    &:hover {
        color: var(--text-footer-color);
    }
}

.logo {
    color: var(--brand-color-light);
    font: 22px play-v19-cyrillic-ext_latin-700 ;
    font-weight: 700;
    line-height: 21px;

    &:visited, &:active {
        color: var(--brand-color-light);
    }

    &:hover {
        color:var(--brand-color-light);
    }
}

.copyright {
    color: var(--copyright-color);
    font-size: 13px;
}


